$mainBlack: #0d0d0d;
$subBlack:#1D1C19;
$mainLight: #ffffff;
$mainRed: #FF1E00;
$medRed: #cb1b16;
$mainGray: #181818;
$subGray: #212121;
$medBlue: #338AF3;
$mainOrange: #E65100;
$mainYellow:#FFD600;
$mainPink: #F06292;
$subBlue: #0277BD;